.ymap {
  /*width 1440*/
  width: 950px;
  height: 100%;
  border: 3px solid #000000;
  @media screen and (max-width: 1441px) {
    width: 629px;
  }
  @media screen and (max-width: 1025px) {
    width: 437px;
  }
  @media screen and (max-width: 769px) {
    margin: 20px 0px;
    width: 90%;
    height: 500px;
  }
}
/*width 1440
 width: 870px;
 height: 88%;
 border: 3px solid #000000;
 */
