.address {
  align-self: flex-start;
  width: 28%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 769px) {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: auto;
  }
  // @media screen and (max-width: 1441px) {
  //   align-self: flex-start;
  //   width: 28%;
  //   display: flex;
  //   flex-direction: column;
  // }
  .addressBar {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1441px) {
      height: 45px;
    }

    @media screen and (max-width: 769px) {
      margin-top: 20px;
    }

    input {
      font-size: 20px;
      width: 72%;
      height: 88%;
      margin: 0px;
      padding: 0px 0px 0px 10px;
      border-top: 3px solid #000000;
      border-bottom: 3px solid #000000;
      border-left: 3px solid #000000;
      border-right: 0px;
      background: #f0f0f0;

      &:focus {
        outline: 0px;
        background: #ffffff;
      }

      @media screen and (max-width: 1441px) {
        font-size: 16px;
        width: 65%;
        height: 87%;
      }

      @media screen and (max-width: 1025px) {
        font-size: 14px;
        width: 63%;
        height: 86%;
      }

      @media screen and (max-width: 769px) {
        width: 67%;
      }
    }

    button {
      height: 100%;
      width: 25%;
      margin: 0px;
      padding: 0px;
      border: 3px solid #000000;
      font-family: 'Times New Roman';
      font-size: 18px;
      background: #929292;
      
      &:hover {
        background: #d4d4d4;
      }
      
      @media screen and (max-width: 1441px) {
        font-size: 16px;
        width: 30%;
      }

      @media screen and (max-width: 1025px) {
        font-size: 14px;
      }
    }
  }
}
