.addressList {
  margin-top: 45px;
  width: 100%;
  overflow: scroll;
  min-height: 380px;
  min-height: 425px;

  @media screen and (max-width: 1441px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 1025px) {
    margin-top: 20px;
  }

  @media screen and (max-width: 769px) {
    min-height: 0px;
    max-height: 300px;
  }

  ul {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1441px) {
      margin: 15px 0px;
    }

    @media screen and (max-width: 1025px) {
      margin: 12px 0px;
    }

    li {
      display: flex;
      width: 85%;
      height: 50px;
      align-self: center;
      margin-bottom: 10px;
      justify-content: space-between;

      @media screen and (max-width: 1441px) {
        width: 90%;
      }

      p {
        padding: 5px;
        display: flex;
        border: 3px solid #000000;
        width: 72%;
        font-size: 18px;
        background: #ffffff;
        align-items: center;

        @media screen and (max-width: 1441px) {
          width: 55%;
          font-size: 16px;
        }

        @media screen and (max-width: 1025px) {
          font-size: 14px;
        }
      }

      button {
        border: 3px solid #000000;
        padding: 0px;
        margin: 0px;
        width: 22%;
        height: inherit;
        font-family: 'Times New Roman';
        font-size: 18px;
        background: #929292;

        &:hover {
          background: #d4d4d4;
        }

        @media screen and (max-width: 1441px) {
          font-size: 16px;
          width: 30%;
        }

        @media screen and (max-width: 1025px) {
          font-size: 14px;
          width: 30%;
        }
      }
    }
  }
  &.active {
    outline: 3px dashed #000000;
  }
}
